<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="DBPoker" connectionString="Data Source=10.1.3.148;Initial Catalog=Golf_Legacy;User ID=sa;Password=S!nerg!smo" providerName="System.Data.SqlClient"/>
    <add name="GolfDB" connectionString="Data Source=10.1.3.148;Initial Catalog=GolfDB;User ID=sa;Password=S!nerg!smo" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="stuart@levinlevy.com">
        <network host="10.1.1.7" password="" port="25" userName=""/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>
